div {
    margin: 0 auto;
    display: block;

}

.lista {
    display: flex;
    box-sizing: border-box;
    justify-items: center;
    right: 14px;
    top: 0;

}

li {
    font-size: 48px;
    list-style: none;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    margin-right: 30px;
}

li:hover a{
    transition: 1s;
    font-size: 52px;
    text-decoration: solid black 20px;
}